.contenedor__respuestas{
    width: 90%;
    height: 56px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 22px;
    background: #fff;
    border: 2px solid rgba(96, 102, 208, 0.7);
    border-radius: 12px;
    cursor: pointer;
}

.contenedor__respuestas:hover{
    background: #F9A826;
}

/*---------CORRECTO E INCORRECTO---------*/
.contenedor__respuestas-correcto{
    background: #60BF88;
}

.contenedor__respuestas-incorrecto{
    background: #EA8282;
}